.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 2%;
  h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 20px;
  }
  h3 {
    font-size: 25px;
    margin: 10px;
    font-weight: 500;
  }
  p {
    font-size: 20px;
    margin: 10px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 80%;
  }
}
